<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.cn.vx.demo.mapper.PhoneInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.cn.vx.demo.entity.PhoneInfo" >
    <id column="phone_id" property="phoneId" jdbcType="INTEGER" />
    <result column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="phone_shumbnail_url" property="phoneShumbnailUrl" jdbcType="VARCHAR" />
    <result column="phone_original_url" property="phoneOriginalUrl" jdbcType="VARCHAR" />
    <result column="phone_praise_num" property="phonePraiseNum" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phone_info
    where phone_id = #{phoneId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.cn.vx.demo.entity.PhoneInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="phoneId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into phone_info (album_id, phone_shumbnail_url, phone_original_url, 
      phone_praise_num)
    values (#{albumId,jdbcType=INTEGER}, #{phoneShumbnailUrl,jdbcType=VARCHAR}, #{phoneOriginalUrl,jdbcType=VARCHAR}, 
      #{phonePraiseNum,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.cn.vx.demo.entity.PhoneInfo" >
    update phone_info
    set album_id = #{albumId,jdbcType=INTEGER},
      phone_shumbnail_url = #{phoneShumbnailUrl,jdbcType=VARCHAR},
      phone_original_url = #{phoneOriginalUrl,jdbcType=VARCHAR},
      phone_praise_num = #{phonePraiseNum,jdbcType=INTEGER}
    where phone_id = #{phoneId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select phone_id, album_id, phone_shumbnail_url, phone_original_url, phone_praise_num
    from phone_info
    where phone_id = #{phoneId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select phone_id, album_id, phone_shumbnail_url, phone_original_url, phone_praise_num
    from phone_info
  </select>
</mapper>