<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.cn.vx.demo.mapper.UserAlbumInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.cn.vx.demo.entity.UserAlbumInfo" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="self_album_id" property="selfAlbumId" jdbcType="VARCHAR" />
    <result column="other_album_id" property="otherAlbumId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_album_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.cn.vx.demo.entity.UserAlbumInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_album_info (self_album_id, other_album_id)
    values (#{selfAlbumId,jdbcType=VARCHAR}, #{otherAlbumId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.cn.vx.demo.entity.UserAlbumInfo" >
    update user_album_info
    set self_album_id = #{selfAlbumId,jdbcType=VARCHAR},
      other_album_id = #{otherAlbumId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select user_id, self_album_id, other_album_id
    from user_album_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, self_album_id, other_album_id
    from user_album_info
  </select>
</mapper>